*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
display: flex;
    background-color: blue;
    width: 100%;
    min-height: 70px;
 }
 .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    min-height: 500px;
    border-bottom: 1px solid black;
 }
 /* .square{
    display: flex;
    width: 30%;
    min-height: 300px;
    background-color: red;
    
    
 }
 .second-square{
    display: flex;
    width: 50%;
    min-height: 300px;
    background-color: green;
     */

    .col-40{
        display: flex;
        width: 40%;
        min-height: 300px;
        background-color: red;
    }
    .col-30{
        display: flex;
        width: 30%;
        min-height: 300px;
        background-color: hotpink;
    }
    /* .top-text{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 30px;
        margin: 20px;
    } */

    .container-main{
       display: flex;
       width: 100%;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
   min-height: 1200px;
   position: relative;
   
     }
     .row{
      display: flex;
      gap: 10px; 
      width: 50%; 
      position: absolute;
      top: 150px;
     }
     .col-25{
        width: 80%;
        min-height: 680px;
        border: 1px solid black;
     }
     .mini-header{
        display: flex; 
        border-bottom: 1px solid black;
        height: 30px;
        align-items: center;
        justify-content: center;
        
     }
     .bigger-square{
        height: 250px;
        width: 80%;
        border: 1px solid black;
        position: absolute;
        bottom: 50px;
     }
     .main-title{
        position: absolute;
        top: 20px;
        font-size: 20px;
        left: 320px;
     }
     .buttons{
        display: flex;
        position: absolute;
        top: 90px;
        left: 330px;
        
        
     }
     .big-square{
      border: 1px solid black;  
      height: 50%;
      width: 20%
     }
    
     .second-container{
      display: flex;
       width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 197, 201);
   min-height: 1200px;
   position: relative;
     }


    
    
    